<!--
    Jacob Donaldson
    Mission 5
    Hilton 413
    1/21/2022
    -->

@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>

</div>

<div class="figure">
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
